#year-range-chart svg g g.axis.y { display: none; }

#chart-geo-map {
	margin-top: 20px;
    margin-left: 22%;
}
#chart-ring-shape {
   margin-left: 10%
}
#chart-ring-weather {
    margin-left:10%;
}

#chart-row-day {
	margin-left:10%;
	margin-top: 20px;
}
#chart-hist-hour {
   margin-left: 5%;
}

#chart-line-year {
    margin-left: 40px;
}

#year-range-chart {
    margin-left: 40px;
    margin-top: 20px;
}

.row1 {
	margin-top: 280px;
}

.row2 {
	margin-top: 100px;
}
