/*.container {*/
    /*padding-top:150px;*/
/*}*/

/*.panel-database {*/
    /*border-color: #ccc;*/
    /*-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);*/
    /*-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);*/
    /*box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);*/
/*}*/

/*.panel-database hr{*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*clear: both;*/
    /*border: 0;*/
    /*height: 1px;*/
    /*background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));*/
    /*background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));*/
    /*background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));*/
    /*background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));*/
/*}*/

/*.btn-update {*/
    /*background-color: #59B2E0;*/
    /*outline: none;*/
    /*color: #fff;*/
    /*font-size: 17px;*/
    /*height: auto;*/
    /*font-weight: normal;*/
    /*padding: 15px 0;*/
    /*margin: 15px 0;*/
    /*border-color: #59B2E6;*/
/*}*/
/*.btn-update:hover,*/
/*.btn-update:focus {*/
    /*color: #fff;*/
    /*background-color: #53A3CD;*/
    /*border-color: #53A3CD;*/
/*}*/

/*.btn-view {*/
    /*background-color: #1CB94E;*/
    /*outline: none;*/
    /*color: #fff;*/
    /*font-size: 17px;*/
    /*height: auto;*/
    /*font-weight: normal;*/
    /*padding: 15px 0;*/
    /*margin: 15px 0;*/
    /*border-color: #1CB94A;*/
/*}*/
/*.btn-view:hover,*/
/*.btn-view:focus {*/
    /*color: #fff;*/
    /*background-color: #1CA347;*/
    /*border-color: #1CA347;*/
/*}*/

/*.panel-footer {*/
    /*background-color: transparent;*/
    /*text-align: center;*/
    /*margin-bottom: 100px;*/
/*}*/

/*.panel-footer .btn {*/
    /*background-color: #1CB94E;*/
    /*outline: none;*/
    /*color: #fff;*/
    /*font-size: 17px;*/
    /*height: auto;*/
    /*font-weight: normal;*/
    /*padding: 5px 20px;*/
    /*margin: 5px 0;*/
    /*border-color: #1CB94A;*/
/*}*/

/*.panel-footer .btn:hover,*/
/*.panel-footer .btn:focus {*/
    /*color: #fff;*/
    /*background-color: #1CA347;*/
    /*border-color: #1CA347;*/
/*}*/

/*.panel-body h4 {*/
    /*text-align: center;*/
    /*font-size: 25px;*/
/*}*/
/*.panel-body h5 {*/
    /*font-size: 20px;*/
/*}*/

/*.complete {*/
    /*text-align: center;*/
    /*font-size:  30px;*/
/*}*/

/*.chart text {*/
    /*font: 20px sans-serif;*/
    /*font-weight: bold;*/
/*}*/
/*.infoTitle {*/
    /*font: 30px sans-serif;*/
    /*text-align: center;*/
    /*text-anchor: middle;*/
/*}*/
/*#map {*/
    /*height: 500px;*/
    /*width: 750px;*/
    /*text-align: center;*/
    /*visibility: hidden;*/
    /*margin: 0 auto;*/
/*}*/
/*footer {*/
    /*padding: 1em;*/
    /*color: white;*/
    /*background-color: royalblue;*/
    /*clear: left;*/
    /*text-align: center;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
/*}*/
/*.nav ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: royalblue;*/
/*}*/

/*.nav li {*/
    /*float: left;*/
/*}*/
/*.nav li a {*/
    /*display: block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /*text-decoration: none;*/
    /*font: 20px sans-serif;*/
/*}*/
/*.nav li a:hover {*/
    /*background-color: #111;*/
/*}*/
/*.nav .active {*/
    /*background-color: #4CAF50;*/
/*}*/

body, html {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;
}
h2 {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
    color: #333;
    text-transform: uppercase;
}
h3 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}
h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-size: 16px;
}
p.intro {
    margin: 12px 0 0;
    line-height: 24px;
}
a {
    color: #34ad95;
}
a:hover, a:focus {
    text-decoration: none;
    color: #222;
}
ul, ol {
    list-style: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}
hr {
    height: 1px;
    text-align: center;
    position: relative;
    background: #bfbfbf;
    margin: auto;
    margin-bottom: 40px;
    border: 0;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset: none;
}
/*login*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
}
/* Navigation */
#menu {
    padding: 20px;
    transition: all 0.8s;
}
#menu.navbar-default {
    /*background: rgba(248, 248, 248, 0);*/
    background: rgba(0, 0, 0, 0.7);
    border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
    /*font-family: 'Dancing Script', cursive;*/
    font-size: 26px;
    color: #34ad95;
    font-weight: 700;
    letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #ddd;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    margin: 10px 15px 0 15px;
    transition: all 0.5s;
}
#menu.navbar-default .navbar-nav > li > a:hover {
    color: #34ad95;
}
.on {
    background: #262626 !important;
    /*padding: 0 !important;*/
    padding: 10px 0 !important;
}

.navbar-form {
    margin-top: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #34ad95 !important;
    background: transparent;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #34ad95;
    border-color: #34ad95;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
}
.section-title {
    margin-bottom: 70px;
}
.section-title .overlay {
    padding: 80px 0;
    background: rgba(0, 0, 0, 0.7);
}
.section-title p {
    font-size: 22px;
    color: rgba(255,255,255,0.8);
}
.section-title hr {
    margin: 0 auto;
    margin-bottom: 40px;
}
.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: #34ad95;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    background-color: #34ad95;
}
.login-button {
    display: inline-block;
    float: right;
    border-radius: 5px;
    margin: auto;
}
/* Header Section */
.intro {
    display: table;
    width: 100%;
    padding: 0;
    background: url(famous-UFO-sightings.jpg) no-repeat center center;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .overlay {
    background: rgba(0,0,0,0.4);
}
.intro h1 {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 10em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}
.intro span {
    color: #34ad95;
    font-weight: 600;
}
.intro p {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 40px;
}
header .intro-text {
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
}
.container {
    width: 90%;
}
/* Contact Section */
#contact {
    padding: 100px 0 60px 0;
    background: #F6F6F6;
}
#contact .section-title p {
    color: #777;
}
#contact form {
    padding: 0;
}
#contact h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #555;
}
#contact .text-danger {
    color: #cc0033;
    text-align: left;
}
label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
#contact .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #444;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
#contact .form-control:focus {
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
    color: #777;
}
.form-control:-moz-placeholder {
    color: #777;
}
.form-control::-moz-placeholder {
    color: #777;
}
.form-control:-ms-input-placeholder {
    color: #777;
}
#contact .contact-item {
    margin: 20px 0 40px 0;
}
#contact .contact-item span {
    font-weight: 400;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: inline-block;
}
#contact .contact-item p {
    font-size: 16px;
}
/* Footer Section*/
#footer {
    background: #262626;
    padding: 50px 0 0 0;
}
#footer h3 {
    color: #34ad95;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer .copyrights {
    padding: 20px 0;
    margin-top: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#779936+0,8eb640+50 */
    background: #34ad95; /* Old browsers */
    background: -moz-linear-gradient(top, #34ad95 0%, #34ad95 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #34ad95 0%, #34ad95 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #34ad95 0%, #34ad95 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779936', endColorstr='#8eb640', GradientType=0 ); /* IE6-9 */
}
#footer .social {
    margin: 20px 0 30px 0;
}
#footer .social ul li {
    display: inline-block;
    margin: 0 20px;
}
#footer .social i.fa {
    font-size: 26px;
    padding: 4px;
    color: #fff;
    transition: all 0.3s;
}
#footer .social i.fa:hover {
    color: #eee;
}
#footer p {
    font-size: 15px;
    color: rgba(255,255,255,0.8)
}
#footer a {
    color: #f6f6f6;
}
#footer a:hover {
    color: #333;
}