body, html {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;
}
h2 {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
    color: #333;
    text-transform: uppercase;
}
h3 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}
h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-size: 16px;
}
p.intro {
    margin: 12px 0 0;
    line-height: 24px;
}
a {
    color: #34ad95;
}
a:hover, a:focus {
    text-decoration: none;
    color: #222;
}
ul, ol {
    list-style: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}
hr {
    height: 1px;
    text-align: center;
    position: relative;
    background: #bfbfbf;
    margin: auto;
    margin-bottom: 40px;
    border: 0;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset: none;
}
/*login*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
}
/* Navigation */
#menu {
    padding: 20px;
    transition: all 0.8s;
}
#menu.navbar-default {
    /*background: rgba(248, 248, 248, 0);*/
    background: rgba(0, 0, 0, 0.7);
    border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
    /*font-family: 'Dancing Script', cursive;*/
    font-size: 26px;
    color: #34ad95;
    font-weight: 700;
    letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #ddd;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    margin: 10px 15px 0 15px;
    transition: all 0.5s;
}
#menu.navbar-default .navbar-nav > li > a:hover {
    color: #34ad95;
}
.on {
    background: #262626 !important;
    /*padding: 0 !important;*/
    padding: 10px 0 !important;
}

.navbar-form {
    margin-top: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #34ad95 !important;
    background: transparent;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #34ad95;
    border-color: #34ad95;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
}
.section-title {
    margin-bottom: 70px;
}
.section-title .overlay {
    padding: 80px 0;
    background: rgba(0, 0, 0, 0.7);
}
.section-title p {
    font-size: 22px;
    color: rgba(255,255,255,0.8);
}
.section-title hr {
    margin: 0 auto;
    margin-bottom: 40px;
}
.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: #34ad95;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    background-color: #34ad95;
}

.intro {
    display: table;
    width: 100%;
    padding: 0;
    background: url(famous-UFO-sightings.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .overlay {
    background: rgba(0,0,0,0.4);
}
header .intro-text {
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
}
.intro p {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
    background: rgba(0,0,0,0.4);
}
header .intro-text {
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
}
.container {
    width: 90%;
}

#footer {
    background: #262626;
    padding: 50px 0 0 0;
}
#footer h3 {
    color: #34ad95;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer .copyrights {
    padding: 20px 0;
    margin-top: 50px;
    background: #34ad95; /* Old browsers */
    background: -moz-linear-gradient(top, #34ad95 0%, #34ad95 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #34ad95 0%, #34ad95 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #34ad95 0%, #34ad95 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779936', endColorstr='#8eb640', GradientType=0 ); /* IE6-9 */
}
#footer .social {
    margin: 20px 0 30px 0;
}
#footer .social ul li {
    display: inline-block;
    margin: 0 20px;
}
#footer .social i.fa {
    font-size: 26px;
    padding: 4px;
    color: #fff;
    transition: all 0.3s;
}
#footer .social i.fa:hover {
    color: #eee;
}
#footer p {
    font-size: 15px;
    color: rgba(255,255,255,0.8)
}
#footer a {
    color: #f6f6f6;
}
#footer a:hover{
    color: #000;
}