<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- javascript source-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="/index.js"></script>

    <!-- css source -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<nav class="nav">
<ul>
    <li style="float:right"><a class="active" href="/">Home</a></li>
    <li><a href="/report">Report</a></li>
    <li><a href="/statistic">Statistic</a></li>
    <li><a href="/datapage">Database</a></li>
    <li><a href="/about">About</a></li>
</ul>
</nav>
<div class="container">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="height: 150px;"></div>
            <p style="font: 25px sans-serif;">
                There are many UFO reports across the United States categorized by event date, state, shape and date
                posted. This project tries to analyze the correlation between UFO reports and other data, like GIS and weather.
                Our data product aims to help institutes find out the truthfulness of UFO sighting reports.
            </p>
        </div>
    </div>
</div>

<footer>
    <h3>Jin Yan, Lei Tian, Yao Yao, Jing Qian @ cs1951a project</h3>
</footer>



</body>
</html>
