<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!-- css source -->
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" href="/nivo-lightbox/default.css">
    <link rel="stylesheet" href="/style.css">

    <!-- javascript source-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/index.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><a href="/" class="navbar-brand page-scroll">UFO Sighting Checker</a>
            </div>

            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/report">Report</a></li>
                    <li><a href="/statistic">Statistic</a></li>
                    <li><a href="/datapage">Database</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <p>There are many UFO reports across the United States categorized by event date, state, shape and dateposted.
                                This project tries to analyze the correlation between UFO reports and other data, like GIS and weather.
                                Our data product aims to help institutes find out the truthfulness of UFO sighting reports.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="footer">
        <div class="container text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>Contact Info</h3>
                <div class="contact-item">
                    <p>ufosightingchecker@gmail.com</p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="container-fluid text-center copyrights">
            <div class="col-md-8 col-md-offset-2">
                <div class="social">
                    <ul>
                        <li><a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fwww.nationalsobering.org%2Fmap-and-links.html&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=NationalSober&amp;tw_p=followbutton">Follow Us<i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
                <p>
                    &copy; 2017 UFO Sighting Checker
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/SmoothScroll.js"></script>
    <script type="text/javascript" src="/nivo-lightbox.js"></script>
    <script type="text/javascript" src="/jquery.isotope.js"></script>
    <script type="text/javascript" src="/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/main.js"></script>

</body>
</html>

<!--<body>-->
<!--<nav class="nav">-->
<!--<ul>-->
    <!--<li style="float:right"><a class="active" href="/">Home</a></li>-->
    <!--<li><a href="/report">Report</a></li>-->
    <!--<li><a href="/statistic">Statistic</a></li>-->
    <!--<li><a href="/datapage">Database</a></li>-->
    <!--<li><a href="/about">About</a></li>-->
<!--</ul>-->
<!--</nav>-->
<!--<div class="container">-->

    <!--<div class="row">-->
        <!--<div class="col-md-10 col-md-offset-1">-->
            <!--<div style="height: 150px;"></div>-->
            <!--<p style="font: 25px sans-serif;">-->
                <!--There are many UFO reports across the United States categorized by event date, state, shape and date-->
                <!--posted. This project tries to analyze the correlation between UFO reports and other data, like GIS and weather.-->
                <!--Our data product aims to help institutes find out the truthfulness of UFO sighting reports.-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<footer>-->
    <!--<h3>Jin Yan, Lei Tian, Yao Yao, Jing Qian @ cs1951a project</h3>-->
<!--</footer>-->

<!--</body>-->
<!--</html>-->
