<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- javascript source-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/index.js"></script>
</head>
<body>
<div>
    time:
    <input type="text" id="year" value="2017"/>
    <input type="text" id="month" value="04"/>
    <input type="text" id="day" value="01"/>
    <input type="text" id="time" value="22:00:00"/>
</div>
<div>
    summary:
    <input type="text" id="summary" value="strange_lights_around_Cody_area" size = "35"/>
    <input type="text" id="shape" value="circle"/>
</div>
<div>
    location:
    <input type="text" id="city" value="providence"/>
    <input type="text" id="state" value="RI"/>
</div>
<div>
    <button type="button" id="fake">Report!!!!</button>
</div>
<div>
    <input type="text" id="result"/>
</div>



</body>
</html>