<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>statistic</title>

    <!-- css source-->
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" type="text/css" href="/dc.css"/>
    <link rel="stylesheet" type="text/css" href="/statistic.css"/>

    <!-- javascript source-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/crossfilter.js"></script>
    <script src="/dc.js"></script>
    <script src="/statistic.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand page-scroll">UFO Sighting Dashboard</a>
            </div>

            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/report">Report</a></li>
                    <li class="active"><a href="/statistic">Statistic</a></li>
                    <li><a href="/datapage">Database</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 100px;margin-bottom: 50px;">
            
            <!-- <script type="text/javascript" src="header.js"></script> -->
            <div class="row">
                <div id="chart-geo-map" style="width:1300px; height:300px">
                    <strong>Numbers of UFO events across the country</strong>
                    <a class="reset" href="javascript:geoMapChart.filterAll();dc.redrawAll();">reset</a>
                    <div>selected: <span class="filter"></span></div>
                </div>
            </div>
            <div class="row row1">
                <div id="chart-ring-shape" style="width:300px; height:300px">
                    <strong>Shapes</strong>
                    <a href="javascript:shapeRingChart.filterAll();dc.redrawAll();">reset</a>
                    <div>selected: <span class="filter"></span></div>
                </div>
                <div id="chart-ring-weather" style="width:300px; height:300px">
                    <strong>Weathers</strong>
                    <a href="javascript:weatherRingChart.filterAll();dc.redrawAll();">reset</a>
                    <div>selected: <span class="filter"></span></div>
                </div>
                <div id="chart-row-day" style="width:600px; height:250px">
                    <strong>Day of Week</strong>
                    <a href="javascript:weekRowChart.filterAll();dc.redrawAll();">reset</a>
                    <div>selected: <span class="filter"></span></div>
                </div>
            </div>
            <div class="row row2">
                <div id="chart-hist-hour" style="width:600px; height:300px">
                    <strong>Dayly numbers of UFO reports</strong>
                    <a href="javascript:hourHistChart.filterAll();dc.redrawAll();">reset</a>
            <!--         <div>selected: <span class="filter"></span></div> -->
                </div>

                <div id="chart-line-year">
                    <strong>Yearly numbers of UFO reports</strong>
                    <a href="javascript:yearLineChart.filterAll();dc.redrawAll();">reset</a>
                    <div>selected: <span class="filter"></span></div>
                </div>
                <div id="year-range-chart">
<!--                     <div class="reset" style="visibility: hidden;">range: <span class="filter"></span>
                        <a href="javascript:yearLineChart.filterAll();dc.redrawAll();">reset</a>
                    </div> -->
                </div>
            </div>
        
    </div>

    <div id="footer">
        <div class="container text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>Contact Info</h3>
                <div class="contact-item">
                    <p>ufosightinganalysis@gmail.com</p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="container-fluid text-center copyrights">
            <div class="col-md-8 col-md-offset-2">
                <div class="social">
                    <ul>
                        <li><a href="https://github.com/jyan16/UFO">Follow Us<i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
                <p>
                    &copy; 2017 UFO Sighting Analysis
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/SmoothScroll.js"></script>
    <script type="text/javascript" src="/jquery.isotope.js"></script>
    <script type="text/javascript" src="/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/main.js"></script>

</body>
</html>